@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Cherry+Bomb+One&family=Cherry+Cream+Soda&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

nav ul li {
  padding-right: 17px;
  padding-left: 17px;
}
nav ul li a {
  color: rgba(255, 255, 255, 1);
  font-family: "Balsamiq Sans";
  font-weight: 700;
 
}
 .headerstone{
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
.headerlefttree {
  position: absolute;
  left: -10%;
  bottom: 10%;
}
.headerrighttree{
  position: absolute;
  right: 0%;
  bottom: 20%;
}
.ff_chary {
  font-family: "Cherry Bomb One", cursive !important;
}
.ff_soda {
  font-family: "Cherry Cream Soda" !important;
}
.fs_60 {
  font-size: 60px;
}
.ff_balsmiq {
  font-family: "Balsamiq Sans", cursive;
}
.mb_n20 {
  margin-bottom: -5%;
}
.bg_header {
  background: url(../images/webp/bg_sky.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.color_orange {
  color: rgba(255, 147, 0, 1);
}
.color_green {
  color: rgba(91, 167, 43, 1);
}
.curser_pointer {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  min-height: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.mw_758px {
  max-width: 758px;
}
.text_shadow_black {
  text-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.18) !important;
}
.color_white {
  color: rgba(255, 255, 255, 1) !important;
}
.textshadow_black {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.textshadow_orange {
  text-shadow: 1px 1px rgba(255, 212, 154, 1) !important;
}
.textshadow_green {
  text-shadow: 1px 1px rgba(207, 254, 127, 1);
}
.header_button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(76, 186, 255, 1);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 44px;
}
/* ===============================ABOUT US======================================= */
.about_hippo {
  position: absolute;
  right: 0%;
  bottom: -35%;
}

.about_tree {
  position: absolute;
  bottom: -29%;
  left: -20%;
}

.mh_470 {
  min-height: 470px;
}

.bg_pink {
  background-color: #eec4dc;
}

.mw_707px {
  max-width: 707px;
}
.mb_n1 {
  margin-bottom: -10px;
}
.color_pink {
  color: rgba(238, 196, 220, 1);
}
.textshadow_pink {
  text-shadow: 1px 4px rgba(246, 131, 197, 1);
}
.mt-100 {
  margin-top: 100px;
}
.abouthippo {
  position: absolute;
  right: 0;
}
.mb-100 {
  margin-bottom: 100px;
}
.op_70 {
  opacity: 70%;
}
.lh_27px {
  line-height: 27px;
}
.py_100 {
  padding-bottom: 100px;
  padding-top: 100px;
}
/* --------------------------------------IMPACT------------------------------------------ */
.impact_cloud {
  position: absolute;
  bottom: 2%;
}
.impact_vector {
  position: absolute;
  top: 20%;
  z-index: 0;
  width: 100%;
}
.bg_sky {
  background-color: rgba(147, 216, 253, 1);
}
.textshadow_blue {
  text-shadow: 1px 4px rgba(61, 83, 160, 1);
}
.color_black {
  color: rgba(13, 13, 13, 1);
}
.gif {
  border: 13.15px solid rgba(255, 255, 255, 1);
  transform: rotateY(180deg);
  border-radius: 21px;
}
.impact_rainbow {
  position: absolute;
  top: 0%;
  right: -24%;
  z-index: 0;
}
.gif_shadow {
  box-shadow: 15.341524124145508px, 15.341524124145508px, 4.3832926750183105px,
    0px rgba(0, 0, 0, 0.25);
}
.impact_layer {
  position: absolute;
  top: -2%;
  width: 100%;
}
.bg_lightgreen {
  background-color: rgba(154, 204, 68, 1);
}
.bg_cloud {
  background-image: url(../images/webp/about_cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
/* ---------------------------roadmap------------------------------------------------ */
.lh_61 {
  line-height: 61.9px;
}
.mw_655 {
  max-width: 655px;
}
.d_none {
  display: none;
}
.bg_card {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}
.fs_28 {
  font-size: 28px;
}
.fs_69 {
  font-size: 69.76px;
}
.color_white {
  color: rgba(255, 255, 255, 0.337);
}
.p_20 {
  padding: 20px;
}
.transition_400ms {
  transition: 400ms;
}
.bg_card:hover svg path {
  opacity: 1;
}
:hover.bg_card {
  background-color: rgba(91, 167, 43, 1);
}
.fs_50 {
  font-size: 50px;
}
.fs_24 {
  font-size: 24px;
}
.bigcard {
  background-color: rgba(91, 167, 43, 1);
  border-radius: 19px;
  border: 7px solid white;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 65px;
  padding-right: 65px;
}
.d_none {
  display: none;
}
#bigcard1 {
  position: absolute;
  top: 20%;
}
#bigcard2 {
  position: absolute;
  top: 20%;
}
#bigcard3 {
  position: absolute;
  top: 20%;
}
#bigcard4 {
  position: absolute;
  top: 20%;
}
.cross {
  position: absolute;
  right: -95%;
  top: 0%;
  cursor: pointer;
}
.textshadow_green2 {
  text-shadow: 1px 4px rgba(91, 167, 43, 1);
}
@media (max-width: 1200px) {
  .about_hippo {
    position: absolute;
    right: 0%;
    bottom: -25%;
  }
  .bg_cloud {
    background: white;
  }
  .mt-100 {
    margin-top: 0px;
  }
  .about_tree {
    position: absolute;
    bottom: -29%;
    left: -30%;
  }
}
@media (max-width: 992px) {
  ul {
    padding: 0 !important;
  }
  .cross {
    position: absolute;
    right: -90%;
    top: 0%;
    cursor: pointer;
  }
  .hw_lg {
    height: 450px;
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .impact_rainbow {
    position: absolute;
    top: 0%;
    right: -10%;
    z-index: 1;
  }
  .about_tree {
    position: absolute;
    bottom: -29%;
    left: -10%;
  }
}
@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh;
  }
}
@media (max-width: 1400px) {
  .impact_rainbow {
    position: absolute;
    top: 0%;
    right: -24%;
    z-index: 0;
  }
}
@media (max-width: 767px) {
  .bigcard {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 576px) {
  .bigcard {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
